@media screen and (max-width: 768px) {
  [aria-controls="navbarDropdown"] {
    display: block;
  }

  [aria-expanded="false"] ~ ul {
    display: none;
  }

  [aria-expanded="true"] ~ ul {
    display: block;
    position: absolute;
    right: 0;
    top: 50px;
    background-image: linear-gradient(
      to right,
      transparent,
      rgba(255, 255, 255, 0.7)
    );
    width: 100%;
    text-align: right;
    box-shadow: 0px 0px 20px rgba(52, 49, 75, 0.1);
  }

  [aria-expanded="true"] ~ ul li a {
    margin-right: 20pxx;
    color: #666;
  }
}

@media screen and (max-width: 1440px) {
  /* NAVBAR */
  .navbar-brand {
    width: 80%;
  }
  .our-work img {
    width: 300px;
    height: 300px;
  }

  .review-left-default p,
  .review-right-default p {
    font-size: 15px;
    line-height: 15px;
  }

  .gallery-default img {
    width: 175px;
    height: 175px;
  }
}
