/* NAVBAR */
.navbar {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 500;
  transition: ease-in-out 0.3s;
  padding: 16px;
  background-color: transparent;
}

.navbar.sticky {
  position: sticky;
  color: blue;
}

.navbar.sticky .navbar-toggler span,
.navbar.sticky .navbar-brand {
  color: #666;
}

.navbar-toggler {
  position: absolute;
  right: 20px;
  top: 30px;
  outline: none;
  background-color: transparent;
  border: 1px solid transparent;
}

.navbar-toggler span {
  color: var(--white);
  font-size: 20px;
  cursor: pointer;
  pointer-events: none;
}

[aria-controls="navbarDropdown"] {
  display: none;
}
.navbar-nav {
  width: 1150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar .container {
  display: flex;
  align-items: center;
}

.navbar-brand {
  margin-right: auto;
  font-size: 2rem;
  font-weight: 700;
  width: 100%;
  transition: ease-in-out 0.3s;
  color: var(--white);
  display: flex;
  align-items: center;
}
.navbar-brand img {
  width: 150px;
  height: 150px;
  filter: brightness(100);
  transition: ease-in-out 0.5s;
}

.nav-link a {
  color: var(--white);
  font-size: 0.8125rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 40px;
  line-height: 20px;
  text-shadow: 0px 5px 4px rgb(0 0 0);
  transition: ease-in-out 1s;
}

.nav-link:hover {
  transform: scale(1.07);
  color: #0a4d82;
}

.fa-facebook,
.fa-instagram,
.fa-linkedin {
  font-size: var(--size-40);
}

/* HEADER */
header {
  margin: auto;
}

.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fadein {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: auto;
}
.fadein img {
  width: 100%;
  height: 1000px;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-animation-name: fade;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 20s;
  animation-name: fade;
  animation-iteration-count: infinite;
  animation-duration: 20s;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  53% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  53% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

#f1 {
  background-color: lightblue;
}
#f2 {
  -webkit-animation-delay: -13s;
}
#f3 {
  -webkit-animation-delay: -8s;
}

/* INTRO/ABOUT US */
.about-us {
  margin-top: 1000px;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-end;
  font-size: var(--size-50);
}

.about-us-logo {
  position: absolute;
  left: 25%;
  top: 785px;
}

.about-us p {
  z-index: 100;
  color: #f2f2f2;
  text-shadow: 0px 3px 2px rgb(38 38 38);
}

.logo {
  width: 600px;
  height: 600px;
  margin: 0px;
  border-radius: 50%;
}

.intro-info-words {
  width: 700px;
  position: absolute;
  top: 750px;
  left: 45%;
}

.intro-info-words span {
  font-family: "Black Ops One", cursive;
  transition: ease-out 1s;
  color: var(--white);
  text-shadow: 0px 3px 2px rgb(38 38 38);
}

.intro-info-words span:hover {
  font-size: 85px;
  color: #b3b3b3;
  cursor: pointer;
}

.owners {
  margin-top: var(--size-300);
}

.owners h2 {
  text-align: center;
  text-shadow: 0px 5px 4px rgb(0 0 0);
  font-size: 70px;
  margin-bottom: var(--size-50);
}

.the-owners {
  margin: auto;
  width: 600px;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 20px;
}

.owner-two img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

.owner-two {
  display: flex;
  align-items: center;
}

.owner-one {
  align-items: flex-start;
}

.owner-two {
  flex-direction: row-reverse;
  align-items: flex-end;
}

.learn-more-btn {
  width: var(--size-150);
}

/* OUR WORK SECTION */

.our-work-section {
  width: 75%;
  margin: auto;
  margin-top: var(--size-300);
  text-align: center;
}

.our-work-section h2 {
  text-shadow: 0px 5px 4px rgb(0 0 0);
  font-size: 70px;
  margin-bottom: 10px;
}

.our-work-section p {
  font-size: 20px;
  color: #f2f2f2;
}
.our-work {
  margin-top: var(--size-100);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.our-work img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  box-shadow: 0px 0px 30px rgba(2, 2, 2);
  transition: ease-in-out 1s;
}

.our-work img:hover {
  border-radius: 5px;
}

/* CONTACT US SECTION */

.contact-us-main {
  margin-top: var(--size-400);
  margin-bottom: var(--size-300);
  text-align: center;
  overflow: hidden;
}

.floating-questions-container {
  height: 1000px;
}

.question-one {
  position: relative;
  left: -20%;
  top: 0%;
  font-size: 60px;
  text-shadow: 0px 5px 4px rgb(0 0 0);
  transition: ease-in-out 0.5s;
}

.question-one:hover {
  transform: translateX(15px);
}

.question-two {
  position: relative;
  left: 5%;
  top: 15%;
  font-size: 30px;
  text-shadow: 0px 5px 4px rgb(0 0 0);
  transition: ease-in-out 0.5s;
}

.question-two:hover {
  transform: translateX(25px);
}

.question-three {
  position: relative;
  left: 0%;
  top: 35%;
  font-size: 50px;
  text-shadow: 0px 5px 4px rgb(0 0 0);
  transition: ease-in-out 0.5s;
}

.question-three:hover {
  transform: translateY(10px);
}

.question-four {
  position: relative;
  left: -20%;
  top: -10%;
  font-size: 15px;
  text-shadow: 0px 5px 4px rgb(0 0 0);
  transition: ease-in-out 0.5s;
}

.question-four:hover {
  transform: scale(1.5);
}

.question-five {
  position: relative;
  left: 20%;
  top: -38%;
  font-size: 25px;
  text-shadow: 0px 5px 4px rgb(0 0 0);
  transition: ease-in-out 0.5s;
}

.question-five:hover {
  transform: translateX(-10px);
}

.question-six {
  position: relative;
  left: 30%;
  top: -30%;
  font-size: 30px;
  text-shadow: 0px 5px 4px rgb(0 0 0);
  transition: ease-in-out 0.5s;
}

.question-six:hover {
  transform: translateX(5px);
  transform: translateY(20px);
}

.question-seven {
  position: relative;
  left: -25%;
  top: -5%;
  font-size: 25px;
  text-shadow: 0px 5px 4px rgb(0 0 0);
  transition: ease-in-out 0.5s;
}

.question-seven:hover {
  transform: scale(1.5);
}

.question-eight {
  position: relative;
  left: 20%;
  top: -5%;
  font-size: 25px;
  text-shadow: 0px 5px 4px rgb(0 0 0);
  transition: ease-in-out 0.5s;
}

.question-eight:hover {
  transform: translateX(15px);
}

.contact-btn-and-info {
  margin-top: -300px;
  padding: 30px;
}

.contact-btn {
  width: var(--size-200);
  margin-top: var(--size-50);
}

/* FOOTER */

footer {
  margin-top: var(--size-50);
  margin-bottom: var(--size-30);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.final-selectors {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.final-selectors a {
  color: var(--white);
}

.final-selectors a:hover {
  text-decoration: underline;
}

.tmwd {
  margin-top: var(--size-100);
  font-family: "Gloria Hallelujah", cursive;
}

/* ABOUT US PAGE  */
/* WHO WE ARE SECTION */
.who-we-are {
  text-align: center;
  width: 90%;
  margin: auto;
}

.who-we-are h1 {
  font-size: 100px;
  text-shadow: 0px 5px 4px rgb(0 0 0);
}

.image-and-info-wrapper {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-and-info-wrapper img {
  width: 200px;
  height: 200px;
  /* margin-left: 100px; */
  /* margin-right: 100px; */
}

/* REVIEWS SECTION */
.review-section {
  width: 100%;
  margin-top: var(--size-200);
}

.review-section-intro {
  text-align: center;
  margin-top: var(--size-200);
  margin-bottom: var(--size-200);
}

.review-section-intro h2 {
  text-shadow: 0px 5px 4px rgb(0 0 0);
  font-size: 80px;
}

.reviews {
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.review-img-left {
  width: 300px;
  font-size: var(--size-200);
  margin-right: 50px;
}

.review-img-right {
  width: 300px;
  font-size: var(--size-200);
  margin-left: 50px;
}

.review-left-default {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}

.review-right-default {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 100px;
}

.review-left-default img {
  width: 300px;
  margin-right: 100px;
  border-radius: 50%;
  box-shadow: 0px 0px 15px var(--tsqd-blue);
}

.review-right-default img {
  width: 300px;
  margin-left: 100px;
  border-radius: 50%;
  box-shadow: 0px 0px 15px rgb(253, 252, 252);
}

.review-left-default h2,
.review-right-default h2 {
  margin-bottom: 0px;
  font-size: 20px;
  text-shadow: 0px 5px 4px rgb(0 0 0);
}

.review-left-default span,
.review-right-default span {
  font-size: 10px;
}

.review-left-default p,
.review-right-default p {
  line-height: 23px;
  font-size: 20px;
}

.review-left-info {
  margin-right: 200px;
}

.review-right-info {
  margin-left: 200px;
  text-align: right;
}

h4 a {
  font-size: 12px;
  text-decoration: none;
  color: var(--tsqd-blue);
}

/* OUR WORK PAGE */
/*  OUR WORK GALLERY */

.our-work-main {
  text-align: center;
  font-size: 20px;
}

.our-work-main h2 {
  text-shadow: 0px 5px 4px rgb(0 0 0);
}

.our-work-intro {
  margin-top: 200px;
  margin-bottom: 200px;
}

.our-work-intro h1 {
  font-size: 50px;
  text-shadow: 0px 5px 4px rgb(0 0 0);
}

.work-gallery-default {
  margin: auto;
}

.gallery-default {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 200px;
  margin-right: -50px;
  padding: 50px;
}

.gallery-default img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-left: -40px;
  box-shadow: 0px 0px 30px rgba(2, 2, 2);
  transition: ease-in-out 0.5s;
  transition-delay: 0.3s;
  display: inline-block;
}

.gallery-default img:hover {
  border-radius: 10px;
  z-index: 100;
  transform: scale(2);
}

.before-1-section {
  margin-right: 0;
}

.before-and-after-container {
  width: 1000px;
  height: 700px;
  border-radius: 10px;
  background-image: url("../Assests/beafore-1.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  background-blend-mode: ;
  transition: ease-in-out 3s;
  box-shadow: 0px 0px 30px rgba(2, 2, 2);
}

.before-and-after-container:hover {
  background-image: url("../Assests/after-1.jpg");
  background-size: cover;
}

.before-and-after-container-2 {
  width: 1000px;
  height: 700px;
  border-radius: 10px;
  background-image: url("../Assests/before-2.jpeg");
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  transition: ease-in-out 3s;
  margin-right: 0;
  box-shadow: 0px 0px 30px rgba(2, 2, 2);
}

.before-and-after-container-2:hover {
  background-image: url("../Assests/full\ bath.jpeg");
  background-size: cover;
}

.our-work-final-info {
  margin-bottom: 100px;
}

/* FAQ PAGE */
/* Q and A */
.faq-heading {
  border-bottom: #777;
  padding: 20px 60px;
  text-align: center;
  margin-bottom: var(--size-100);
}
.faq-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: var(--size-200);
}
.hr-line {
  width: 60%;
  margin: auto;
}
/* Style the buttons that are used to open and close the faq-page body */
.faq-page {
  border-radius: 5px;
  color: var(--white);
  cursor: pointer;
  padding: 30px 20px;
  width: 60%;
  border: none;
  outline: none;
  transition: 0.4s;
  margin: auto;
}
.faq-body {
  margin: auto;
  width: 50%;
  padding: auto;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.faq-page:hover {
  background-color: #444;
}
/* Style the faq-page panel. Note: hidden by default */
.faq-body {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  font-size: 20px;
}
.faq-page:after {
  content: "\02795";
  /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}
.active:after {
  content: "\2796";
  /* Unicode character for "minus" sign (-) */
}
