/* NAVBAR */
.navbar {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 500;
  transition: ease-in-out 0.3s;
  padding: 16px;
  background-color: transparent;
}

.navbar.sticky {
  position: sticky;
  color: blue;
}

.navbar.sticky .navbar-toggler span,
.navbar.sticky .navbar-brand {
  color: #666;
}

.navbar-toggler {
  position: absolute;
  right: 20px;
  top: 30px;
  outline: none;
  background-color: transparent;
  border: 1px solid transparent;
}

.navbar-toggler span {
  color: var(--white);
  font-size: 20px;
  cursor: pointer;
  pointer-events: none;
}

[aria-controls="navbarDropdown"] {
  display: none;
}
.navbar-nav {
  width: 1050px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar .container {
  display: flex;
  align-items: center;
}

.navbar-brand {
  margin-right: auto;
  font-size: 2rem;
  font-weight: 700;
  width: 100%;
  transition: ease-in-out 0.3s;
  color: var(--white);
  display: flex;
  align-items: center;
}
.navbar-brand img {
  width: 150px;
  height: 150px;
  filter: brightness(100);
  transition: ease-in-out 0.5s;
}

.nav-link a {
  color: var(--white);
  font-size: 0.8125rem;
  font-weight: 600;
  font-family: "Hind", sans-serif;
  text-transform: uppercase;
  margin-right: 40px;
  line-height: 20px;
  transition: ease-in-out 1s;
}

.nav-link:hover {
  transform: scale(1.07);
  color: #0a4d82;
}

.fa-facebook,
.fa-instagram,
.fa-linkedin {
  font-size: var(--size-40);
}

.sticky .nav-link a {
  color: black;
}
.sticky .navbar-brand img {
  filter: none;
}

/* HEADER */
header {
  margin: auto;
}

.header-img-1 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 1000px;
  opacity: 100%;
  margin-right: 0;
  margin-left: 0;
  -webkit-transition: 4s ease-in-out;
  -moz-transition: 4s ease-in-out;
  -o-transition: 4s ease-in-out;
  transition: 4s ease-in-out;
}
.header-img-1:hover {
  opacity: 0%;
  transition-delay: 3s;
}

.header-img-2 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 1000px;
  opacity: 100%;
  margin-right: 0;
  margin-left: 0;
  -webkit-transition: 4s ease-in-out;
  -moz-transition: 4s ease-in-out;
  -o-transition: 4s ease-in-out;
  transition: 4s ease-in-out;
}
.header-img-2:hover {
  opacity: 0%;
  transition-delay: 3s;
}

.header-img-3 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 1000px;
  opacity: 100%;
  margin-right: 0;
  margin-left: 0;
  -webkit-transition: 4s ease-out;
  -moz-transition: 4s ease-out;
  -o-transition: 4s ease-out;
  transition: 4s ease-in-out;
}

.header-img-3:hover {
  filter: inherit;
  opacity: 0%;
  transition-delay: 1.5s;
}

/* INTRO/ABOUT US */
.about-us {
  margin-top: 1000px;
  width: 70%;
  margin-right: 50%;
  margin-left: 30%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-end;
  font-size: var(--size-50);
}

.about-us-logo {
  position: absolute;
  left: 25%;
  top: 785px;
}

.about-us p {
  z-index: 100;
  color: #b3b3b3;
  text-shadow: 0px 3px 2px rgb(38 38 38);
}

.logo {
  width: 600px;
  height: 600px;
  margin: 0px;
  border-radius: 50%;
  /* box-shadow: 0px 0px 20px rgba(48, 63, 100, 50%); */
}

.intro-info-words {
  width: 700px;
  position: absolute;
  top: 750px;
  left: 45%;
  /* margin: 0 auto; */
}

.intro-info-words span {
  font-family: "Black Ops One", cursive;
  transition: ease-out 1s;
  color: var(--white);
  text-shadow: 0px 3px 2px rgb(38 38 38);
}

.intro-info-words span:hover {
  font-size: 79px;
  color: #b3b3b3;
  cursor: pointer;
}

.the-owners {
  margin: auto;
  width: 600px;
  margin-top: 300px;
  display: flex;
  align-items: flex-start;
}

.owner-two img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
}

.owner-two {
  display: flex;
  align-items: center;
}

.owner-one {
  align-items: flex-start;
}

.owner-two {
  flex-direction: row-reverse;
  align-items: flex-end;
}
